@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --lightgrey: #cdcdcd;
  --darkgrey: #606060;
  --red: #f64136;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  height: 100vh;
  background: var(--lightgrey);
}

.wrapper {
  width: 100%;
  position: absolute;
}

h1 {
  font-size: 96px;
  color: #fff;
}

h2 {
  font-size: 64px;
  color: #fff;
}
h3
{
  font-size: 20px;
  color: #fff;
}

/* ========================
        Home page          
=========================*/

/* ========================
      Category page          
=========================*/
.bg-banner {
  background-image: url(../images/pizza_category_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  height: 200px;
}
.bg-banner h2 {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}
.cat-container {
  border: 2px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px); 
  max-width: 1200px; 
  gap: 20px;
  place-content: center;
}
.cat-grid-item {
  border: 2px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 250px; 
  padding: 2rem;
  position: relative;
}
.img-container {
  border: 2px;
  display: block;
}
.img-container img {
  width: 250px;
} 
.text-overlay {
  border: 2px;
  position: absolute;
  top: 11%;
  bottom: 11%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
  
.cat-grid-item:hover .text-overlay {
  opacity: 1;
}
  
.text-overlay a {
  border: 2px;
  display: block;
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 5%;
  padding-top: 60%;
}

.text-overlay a:hover {
  text-decoration: none;
}
  
/* ========================
        Recipe page          
=========================*/

/* ========================
      Contact page          
=========================*/

/* ========================
        Media Query          
=========================*/

@media (max-width: 992px) {
  /* tablet */
}

@media (max-width: 576px) {
  /* smartphone */
}
