@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --lightgrey: #cdcdcd;
  --darkgrey: #606060;
  --red: #f64136;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.container {
  width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  background-color: var(--lightgrey);
}

h1 {
  font-size: 96px;
  color: #fff;
}

h2 {
  font-size: 64px;
  color: #fff;
}

/* ========================
        Home page          
=========================*/

/* ========================
      Category page          
=========================*/

/* ========================
        Recipe page          
=========================*/

/* ========================
      Contact page          
=========================*/
.contact_wrapper {
  background-image: url(../images/background_contact.jpg);
  background-size: 100%;
  width: 100%;
}


.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_forms {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.contact_forms > * {
  padding: 10px 0 10px 0;
  color: #fff;
}

.contact_forms > input, textarea, select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--red);
  outline: none
}

::placeholder {
  color: black;
  opacity: 1;
}


.contact_forms > input, select {
  border: 1px solid var(--red);
  padding: 10px;
  transition: 1s ease-in-out;
}

.contact_forms > input:focus, select:focus {
  width: 100%;
}

#contact_country {
  padding: 10px 5px 10px 5px;
  color: black;
}

#contact_header {
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#contact_button {
  background-color: white;
  border: none;
  color: var(--red);
  border-radius: 4px;
  padding: 5px 30px;
  width: 30%;
  cursor: pointer;
  margin-bottom: 100px;
}

#contact_button:hover {background-color: #3e8e41;}

#contact_button:active {
  background-color: var(--red);
  transform: translateY(2px);
}


#contact_textarea {
  resize: none;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}
/* ========================
        Media Query          
=========================*/

@media (max-width: 992px) {
  /* tablet */
}

@media (max-width: 576px) {
  /* smartphone */
}
